{% extends 'dashboard.html' %}
{% block appcontent %}
  <div class="container-fluid">
    <!--begin::Row-->
      <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ total_farms }}<sup style="font-size: 20px"> Cultivos</sup></h3>

                <p>Administrar Cultivos</p>
              </div>
              <div class="icon">
                <i class="fas fa-seedling"></i>
              </div>
              <a href={% url 'catalogs:crop_list' %} class="small-box-footer">Catalogo de Cultivos <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            <div class="small-box bg-red">
              <div class="inner">
                <h3>{{ total_farms }}<sup style="font-size: 20px"> Animales </sup></h3>

                <p>Administrar Animales</p>
              </div>
              <div class="icon">
                <i class="bi bi-piggy-bank"></i>
              </div>
              <a href={% url 'catalogs:animal_list' %} class="small-box-footer">Catalogo de Animales <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        <div class="col-6">
          <!-- Default box -->
        <!--end::Row-->
    </div>
    <!--end::Container-->
{% endblock %}
