{% extends 'dashboard.html' %}
{% load widget_tweaks %}
{% load static %}
{% block appcontent %}

<div class="container-fluid">
  <div class="row">
    {% for worker in equipments %}
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box bg-yellow">
        <div class="inner">
          <a href={% url 'erp:equipment_update' worker.pk %} class="btn btn-success btn-xs btn-flat"><i
              class="fas fa-edit"></i></a>
          <a href={% url 'erp:equipment_delete' worker.pk %} class="btn btn-danger btn-xs btn-flat"><i
              class="fas fa-trash"></i></a>
          <h3>{{ worker.name }}<sup style="font-size: 20px"></sup></h3>
          <p>{{ worker.get_status_display }}/{{ worker.costph }}</p>
        </div>
        <div class="icon">
          <i class="fas fa-tractor"></i>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-lg-3 col-6">
      <!-- small box -->
      <div class="small-box btn-success">
        <div class="inner"> <br>
          <h3>Registre un Equipo<sup style="font-size: 20px"></sup></h3>
        </div>
        <div class="icon">
          <i class="fas fa-plus"></i>
        </div>
        <a href={% url 'erp:equipment_create' %} class="small-box-footer"> Nuevo Equipo  <i
            class="fas fa-plus"></i></a>
      </div>
    </div>
      <div class="card-body">
        {% csrf_token %}
        <input type="hidden" name="action" value="{{ action }}">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
          <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
  </div>
</div>
</div>
<script>
  {% if form.errors %}
  var errors = '';
  {% for field in form %}
  {% for error in field.errors %}
  errors += '{{ error }}\n';
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  errors += '{{ error }}\n';
  {% endfor %}
  Swal.fire({
    title: 'Error!',
    text: errors,
    icon: 'error'
  });
  {% endif %}
</script>
{% endblock %}
